.App {
  text-align: center;
}
html,body{
  background-color: rgba(250, 250, 250, 1);
}
.AuthComponent {
  margin: 15vh auto;
  width: 450px;
  padding: 5vh 0;
}

.AuthComponent form {
  width: 80%;
  gap: 2vh;
}

.AuthComponent div,
input {
  margin: 0 auto;
  width: 100%
}

.show-error {
  height: 2vh;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.hide-error {
  height: 2vh;
  opacity: 1;
}

@media (max-width: 768px) {
  .align-items-md-center {
    align-items: center !important;
  }
}