.chatbody {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.chatbody h1 {
    padding: 0;
    margin: 0;
}

.chatblock {
    display: flex;
    height: 100vh;
    justify-content: flex-start !important;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.5);
    flex-direction: column;
}

.chatblock h2 {
    margin: 0 !important;
    padding: 0 !important;
}

.chatname {
    background-color: white;
    display: flex;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
    height: 10vh;
    align-items: center;
    padding-left: 2vw;
}
.chatbody ul {
    background-size: cover;
    background-position: center;
    background-image: url('../components/media/image/chatblockbg2.jpg');
    width: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    margin-bottom: 0 !important;
    display: flex;
    min-height: 87vh;
    max-height: 87vh;
    flex-direction: column-reverse;
    align-items: stretch;
    padding: 1vh 0;
}


.sendblock {
    flex: 3;
    display: flex;
    justify-content: center;
}

.sendblock input {
    flex: 1;
    background-color: #f8f9fa;
    border: 0 !important;
    box-shadow: none !important;
}

.sendblock button {
    width: 100px;
}

li {
    list-style: none;
    padding: 1vh 2vh 0 2vh;
}

li p {
    padding: 0;
    margin: 0;
}

.infomessage {
    display: flex;
    justify-content: center;
    gap: 1vh;
}

.infomessage p {
    font-size: 1rem;
    color: white;
}

.d-flex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.chatinfo h3, p{
    padding: 0;
    margin: 0;
}
.usermessage {
    max-width: 85%;
    min-width: 350px;
    background-color: rgb(235, 255, 255);
    flex-direction: column;
    margin: 5px 0;
}
.messageinfo{
    width: 350px !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 0 !important;
}
.mymessage {
    margin-left: auto;
    margin-right: 0;
    background-color: rgb(170, 235, 255);
    align-items: flex-end;
}
.notmymessage {
    margin-left: 0;
    margin-right: auto;
}

.usermessage div {
    font-size: 12px;
    align-items: center;
    gap: 1vh;
    padding: 0.5vh 1vh 0 0;
}

.usermessage p {
    color: rgb(163, 163, 163);
}
.timestamp{
    display: flex;
    padding: 6px 0 !important;
    font-size: .9rem !important;
    justify-content: space-between;
}
.timestampP {
    color: slategray;
}

.messageP {
    max-width: 100%;
    color: black !important;
    font-size: 16px;
    flex: 1;
    hyphens: auto;
    padding-right: 1vh;
    overflow-wrap: break-word;
    hyphens: manual;
}
.chatblock ul div {
    width: 100%;
    padding: 0 2vh;
}

@media screen and (max-width: 900px){
    .usermessage {
        max-width: 100%;
        min-width: 100%;
    }
    .chatblock ul div{
        padding: 0 1vh;
    }
}